<a class="pokemon">
  <section class="pokemon__status">
    <h2>Bulbassaour</h2>
    <ul>
      <li>grass</li>
      <li>tank</li>
    </ul>
  </section>
  <section class="pokemon__image">
    <img style="max-width: 100px;" src="https://img.joomcdn.net/32bd764d8b970d453c4efac20d566aa2e993fc9f_original.jpeg" alt="Bulbassaour">
  </section>
</a>

<a class="pokemon">
  <section class="pokemon__status">
    <h2>Bulbassaour</h2>
    <ul>
      <li>grass</li>
      <li>tank</li>
    </ul>
  </section>
  <section class="pokemon__image">
    <img style="max-width: 100px;" src="https://img.joomcdn.net/32bd764d8b970d453c4efac20d566aa2e993fc9f_original.jpeg" alt="Bulbassaour">
  </section>
</a>

<a class="pokemon">
  <section class="pokemon__status">
    <h2>Bulbassaour</h2>
    <ul>
      <li>grass</li>
      <li>tank</li>
    </ul>
  </section>
  <section class="pokemon__image">
    <img style="max-width: 100px;" src="https://img.joomcdn.net/32bd764d8b970d453c4efac20d566aa2e993fc9f_original.jpeg" alt="Bulbassaour">
  </section>
</a>
<a class="pokemon">
  <section class="pokemon__status">
    <h2>Bulbassaour</h2>
    <ul>
      <li>grass</li>
      <li>tank</li>
    </ul>
  </section>
  <section class="pokemon__image">
    <img style="max-width: 100px;" src="https://img.joomcdn.net/32bd764d8b970d453c4efac20d566aa2e993fc9f_original.jpeg" alt="Bulbassaour">
  </section>
</a>
<a class="pokemon">
  <section class="pokemon__status">
    <h2>Bulbassaour</h2>
    <ul>
      <li>grass</li>
      <li>tank</li>
    </ul>
  </section>
  <section class="pokemon__image">
    <img style="max-width: 100px;" src="https://img.joomcdn.net/32bd764d8b970d453c4efac20d566aa2e993fc9f_original.jpeg" alt="Bulbassaour">
  </section>
</a>
<a class="pokemon">
  <section class="pokemon__status">
    <h2>Bulbassaour</h2>
    <ul>
      <li>grass</li>
      <li>tank</li>
    </ul>
  </section>
  <section class="pokemon__image">
    <img style="max-width: 100px;" src="https://img.joomcdn.net/32bd764d8b970d453c4efac20d566aa2e993fc9f_original.jpeg" alt="Bulbassaour">
  </section>
</a>