<main>
  <div class="login-form">
    <img 
    class="login-form__img-login"
    src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/6.svg" alt="Charizard">
    
    <section class="login-form__header">
      <h2>Login</h2>
    </section>
    <form action="" class="login-form__form-wrapper">
      <div class="login-form__form-wrapper__item">
        <input id="name" type="text" required />
        <label class="label" for="name">Name</label>
      </div>

      <div class="login-form__form-wrapper__item">
        <input id="password" type="password"required />
        <label class="label" for="password">Password</label>
      </div>

      <button class="btn btn__secondary">Login</button>
      <a>Sign up</a>
    </form>
    <img 
    class="login-form__img-login login-form__img-login--bottom"
    src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/56.svg" alt="Mankey">
  </div>
</main>