@import '../../../config-scss/rem-calc.scss';

:host {
  margin-top: rem-calc(40);

  a {
    color: var(--secondary-color);
  }

  .login-form {
    background-color: var(--white);
    border-radius: 10px;
    height: 400px;
    position: relative;

    &__img-login {
      width: rem-calc(140);
      position: absolute;
      top: -6%;
      left: -10%;

      &--bottom {
        top: 80%;
        left: 90%;

        @media only screen and (max-width: 768px) {
          /* For mobile phones: */
          top: 85%;
          left: 80%;
        }
      }

      @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        
        width: rem-calc(90);
      }
    }

    &__header {
      text-align: center;
      position: relative;
      padding: .1rem;

      h2 {
        color: var(--primary-color);
        font-size: rem-calc(32);
        text-transform: capitalize;
        margin: 2rem 0;
      }
    }


    &__form-wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      max-width: 60%;
      margin: 0 auto;


      @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        max-width: 90%;
      }

      &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin: 1rem 0;
        width: 100%;

        input {
          border: 0;
          border-bottom: 2px solid var(--primary-color);
          outline: none;
          transition: .2s ease-in-out;
          box-sizing: border-box;
          font-weight: 400;
        }
        
        label {
          top: 0;
          left: 0; right: 0;
          color: var(--primary-color);
          display: flex;
          align-items: center;
          position: absolute;
          font-size: 1rem;
          cursor: text;
          transition: .2s ease-in-out;
          box-sizing: border-box;
        }
        
        input,
        label {
          width: 100%;
          height: 3rem;
          font-size: 1rem;
        }
        
        /* Interation */
        input:valid,
        input:focus {
          border-bottom: 2px solid var(--secondary-color);  
        }
        
        input:valid + label,
        input:focus + label {
          color: var(--secondary-color);
          font-size: .8rem;
          top: -30px;
          pointer-events: none;
        }
      } 
    }
  }
}
